.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Add this to your App.css or create a StartScreen.css and import it in StartScreen.js */
.start-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.start-screen button {
  background-color: rgb(211, 163, 199); /* Match the FillSquare background */
  color: #fff; /* Adjust based on your preference */
  padding: 15px 30px;
  font-family: Arial, sans-serif; /* Match the font of your squares */
  font-size: 24px; /* Adjust based on your preference */
  font-weight: bold;
  border: none;
  border-radius: 10px; /* Match the border-radius of your squares */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-align: center;
  user-select: none;
}

.start-screen button:hover {
  background-color: rgb(190, 142, 178); /* Slightly darker or lighter for hover effect */
  transform: scale(1.05); /* Slightly increase size on hover */
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
